@import "tailwindcss";

:root {
  --primary: #9b6ef7;
  --background: var(--primary);
  --foreground: #ffffff;
  --muted: #a78bfa;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --color-primary: var(--primary);
  --color-muted: var(--muted);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--primary);
    --foreground: #ffffff;
    --muted: #7c3aed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), system-ui, -apple-system, Segoe UI, Roboto, "Helvetica Neue", Arial, "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
